<div class="my-4 mx-5">
<div class="d-flex justify-content-between align-items-stretch">
  <div class="event-chat w-25 p-3 mx-1 mb-5 text-center bg-white">
      <h5 class="m-3"><%= @event.name %> at <%= @event.location %> on <%= @event.date.strftime("%d %B %Y") %></h5>
      <p>This event is organised by <%= link_to @event.user.email.split('@').first.capitalize, profile_path(@event.user.id) %></p>
      <p>Attending by,</p>
      <ul class="list-unstyled">
        <% @event.event_users.each do |event_user| %>
          <li><%= link_to event_user.user.email.split('@').first.capitalize, profile_path(event_user.user.id) %></li>
        <% end %>
      </ul>
      <div class="text-center">
        <%= link_to "BACK", event_path(@event), class: "btn-back btn-sm my-2 mx-5" %>
      </div>
  </div>
<div class="container w-50">

  <div class="chat-box p-3">
  <div class="chat">

    <%= turbo_stream_from "event_#{@event.id}_messages" %>
    <div id="messages" class="messages rounded-top">
      <% @event.messages.each do |message| %>
        <%= render "messages/message", message: message, user: current_user %>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [@event, @message],
    # html: {class: "d-flex w-25 mx-5 justify-content-center",} do |f|
    html: {class: "d-flex",
          data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <% other_user = current_user == @event.user %>
    <%= f.input :content,
      label: false,
      placeholder: "type your message here",
      wrapper_html: {class: "flex-grow-1"}
    %>



    <%= button_tag type: "submit", class: "btn btn-primary mb-3" do %>
      <i class="fa-solid fa-paper-plane fa-lg px-2"></i>
    <% end %>

  <% end %>
  </div>
</div>
</div>
</div>
