<!DOCTYPE html>
<html>
  <head>
    <title>GlobalConnect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-vh-100 flex-column d-flex">
    <% unless pages_home == 'landing' %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <% end %>

    <div class="flex-grow-1">
    <%= yield %>
    </div>

  </body>
</html>
